.flex-articles {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    gap: 1px;

    > li {
        font-family: content-p;
        color: #444;
        flex: 0 0 100%;
        
        padding: .1em;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        transition: all 1s;

        > figure {
            overflow: hidden;

            > img {
                transition: all 1s;
            }
        }

        &:hover {
            transition: all 1s;
            color: white;
            background: #0063B1;

            > figure {
                > img {
                    transition: 1s all;
                    transform: scale(1.3);
                }
            }
        }

        > h2 {
        }

        > h2, > p {
            padding: 10px;
            height: 4rem;
        }

        > .description {
            height: 11rem;
            overflow: hidden;
        }

        > p {
            margin-top: auto;
        }

        > figure {
            width: 100%;
            height: 50vh;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
@media all and (min-width:776px){
    .flex-articles {
        > li {
            flex: 0 0 calc((100% - 1px)/2);
        }
    }
}
@media all and (min-width:1196px) {
    .flex-articles {
        > li {
            flex: 0 0 calc((100% - 2px)/3);
        }
    }
}