/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Jan 26, 2022, 4:51:11 AM
    Author     : Alex
*/
$main-color: #0063B1;
.game-frame {
   border: $main-color solid 1px;
    border-radius:1em;
    min-width: 320px;
    max-width:500px;
    padding:13px;
    margin:auto;
}
.game-mask {
    box-shadow: 1px 2px 13px 3px $main-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 13000;
    background: rgba($main-color, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    width:340px;
    height:340px;
    margin:auto;
    visibility:hidden;
    > p {
        padding: 13px;
        border: white solid 1px;
        width: 50%;
        display: flex;
        background-color: white;
        border-radius:1rem;

        color: $main-color;
        > span:first-child {
            width: 20%;
        }

        > span:last-child {
            text-align: right;
            width: 80%;
        }
    }

    > button {
        padding: 13px;
        background-color: white;
        color: $main-color;
        width: 50%;
    }
}
.game-header {
    display: flex;
    width: 320px;
    margin: auto;
    gap: 5px;
    margin-bottom: 5px;


    > p {
        flex: 0 0 calc( (100% - 10px) / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px $main-color;
        color: white;
        background-color: $main-color;
        padding:5px;
        border-radius:1rem;
        > span {
            font-size: 1.3rem;
        }
    }
}
.game-footer {
    padding-top:5px;
    display: flex;
    width: 320px;
    margin: auto;
    justify-content: center;


    > button {
        padding: 13px;
        background-color: $main-color;
        color: white;
        width: 100%;
        border-radius:1em;
    }
}

.game-container {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: auto;
    gap: 5px;

    > * {
        color: transparent;
        border: 1px solid $main-color;
        border-radius: 1em;
        box-shadow: rgba($main-color, .6) 1px 1px 1px 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: auto;

        > svg {
            width: 80%;
            height: 80%;
            transform: rotateX(90deg) rotateY(90deg);
            transition: 1s all;
        }
    }

    > .open-mode {
        color: $main-color;
        pointer-events: none;

        > svg {
            transform: rotateX(0deg) rotateY(0deg);
            transition: 1s all;
        }
    }

    > .finish-mode {
        animation-name: finish;
        animation-duration: 1s;
        pointer-events: none;
        background-color: $main-color;
        color: white;
        border: solid 1px transparent;

        > svg {
            transform: rotateX(-360deg) rotateY(-720deg);
            transition: 1s all;
        }
    }

    > *:hover {
        background-color:$main-color;
       
        
        transition: all .21s;
    }
}

.fin-level {
    transform: rotate(0deg);
    animation-name: finlevel;
    animation-duration: 1s;
}

@keyframes finlevel {
    50% {
        transform: rotate(60deg);
    }

    ;
}

@keyframes finish {
    50% {
        transform: rotate(80deg) scale(3)
    }

    ;
}
