html {
    scroll-behavior: smooth;
    scrollbar-color: #286da8 #fff;
    scrollbar-width: thin;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

#root{
  display:flex;
  flex-direction:column;
  min-height:100vh;

  > main{
      flex: 1 0 auto;
  }
}